h1{
	font-size: 36pt;
	font-family: calibri, arial, sans serif
}

.map_div{ 
	height: 500px;
	width: 700px;
	position: absolute;
	top: 100px;
	left: 100px;
	background-color: red;
}

.top_div{
	height: 250px;
	width: 350px;
	position: absolute;
	top: 100px;
	left: 800px;
	background-color: green;	
}

.bottom_div{
	height: 250px;
	width: 350px;
	position: absolute;
	top: 350px;
	left: 800px;
	background-color: blue;	
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
/*
#canvas {
}

#canvas-svg {
}


.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}*/